.game-board{ 
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 20px;
    justify-content: center;
   }

.box {
    background-color: aliceblue;
    border: 2px solid black;
  }
.card_title{
    background-color: blue;
}
.container-table{
    display: none;
}
